/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.58.51
    Author     : Gabriele Concas
*/

body
{
    background: #f5f5f5;
    font: 30px/40px "Open Sans", Arials, san-serif;
    margin:0;
}

h1
{
    color: #000000;
    font: 40px/50px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2
{
    color: #000000;
    font: 35px/45px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3
{
    color: #000000;
    font: 30px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link
{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

a:visited
{
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

#posts a:link
{
    color: #000000;
}

#posts a:visited
{
    color: #000000;
}

a:hover
{
    font-weight: bold;
}

#barra
{
    top:0;
    position: fixed;
    width: 100%;
    height: 50px;
    background:#41b7ac; 
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;  
    color: #ffffff;
    z-index: 100;
}

#barra h3
{
    color: #ffffff;
}

header h1
{
    color:#ffffff;
}

header
{
    position: relative;
    bottom: 2px;
    right:2px;
    width:200px;
    height: 50px;
    border-radius: 5px;
    float:left;
}

#title
{
    position:relative;
    bottom: 25px;
    left: 15px;
    color: #ffffff;
    font: 40px/50px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

nav
{
    height: 50px;
    float:left;
}


nav ol, nav li
{
    position: relative;
    bottom:35px;
    list-style-type: none;
    display: inline-block;
}

nav li
{
    position:relative;
    padding-top: 11.5px;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 11.5px;
    top:0px;
}

.active
{
    text-decoration: underline;
}


.titolo
{
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position:relative;
    text-align: center;
    bottom: 25px;
    background: #41b7ac;
    height: 50px;
}

.titolo h1
{
    color: #ffffff;
}


.username label:after
{
    content: '\A';
    white-space: pre;
}

.password label:after
{
    content: '\A';
    white-space: pre;
}





form button
{
    width: 30%;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font: bold 20px "Open Sans", Arial, sans-serif;
    background:#41b7ac;
    
}



.profilePic
{
    float:left;
    margin-right: 20px;
}

.profilePic img
{
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.profileName
{  
    float:left;
    padding-left: 5px;
}

.profileContent
{
   padding: 5px;
}

.profileContent img
{
    max-width: 400px;
    max-height: 400px;
}


#info h2
{
    text-align: center;
}

#info li
{
    list-style-type: none;
}

#info li:hover
{
    font-weight: bold;
}



.campi
{
    margin-left: 5px;
}

.campi input
{
    position: relative;
    bottom: 37px;
    float:right;
}

label:after, label:before
{
    content: '\A';
    white-space: pre;
}


#divBodyDescrizione a:link
{
    color: #41b7ac;
}

#divBodyDescrizione a:visited
{
    color: #41b7ac;
}


@media only screen and (min-width: 1024px)
{
    #info
    {
        background: #ffffff;
        float: left;
        border-radius: 5px;
        margin-top: 60px;
        width: 250px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    #utente
    {
        float:right;
        padding-right: 15px;
    }

    #login
    {
        position:relative;
        top: 5px;
        display:inline-block;
        padding-right: 10px;   
    }

    #nome
    {
        position:relative;
        bottom: 25px;
        float:right;
        display: inline-block;
    }
    
    #divBodyLogin
    {
        position:relative;
        top: 60px;
        background: #ffffff;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 10px;
    }
    
    .username
    {
        position:relative;
        left: 130px;
        bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }

    input
    {
        height: 25px;
        width: 50%;
        border-radius: 5px;
        font: 20px/30px "Open Sans", Arial, sans-serif;
    }
    
    .password
    {
        position:relative;
        left: 130px;
        bottom: 25px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }
    
    #posts
    {
        float:left;
        margin-right:auto;
        margin-left: 2%;
        width: 60%;  
        padding-top: 60px;
    }

    .post
    {
        background: #ffffff;
        padding: 5px;
        width: 99%;
        margin-bottom: 10px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .profile
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 100%;
        height: 100px;
        border-radius: 5px;
    }
    
    #divBodyProfilo
    {
        float:left;
        margin-top: 60px;
        background: #ffffff;
        margin-left: 20%;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 30%;
        padding: 10px;
    }
    
    #divBodyDescrizione
    {
        margin-top: 60px;
        background: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 500px;
        padding: 10px; 
    }
    
    #invio
    {
        margin-top: 10px;
        position: relative;
        left: 180px;
        bottom: 20px;   
    }
    
    #aggiorna
    {
        margin-top: 10px;
        position: relative;
        left: 210px;   
    }
}

@media only screen and (min-width: 820px)                    
                   and (max-width: 1024px)
{
    #info
    {
        background: #ffffff;
        float: left;
        border-radius: 5px;
        margin-top: 60px;
        width: 200px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    #utente
    {
        float:right;
        padding-right: 15px;
    }

    #login
    {
        position:relative;
        top: 5px;
        display:inline-block;
        padding-right: 10px;   
    }

    #nome
    {
        position:relative;
        bottom: 25px;
        float:right;
        display: inline-block;
    }
    
    #divBodyLogin
    {
        position:relative;
        top: 60px;
        background: #ffffff;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 10px;
    }
    
    .username
    {
        position:relative;
        left: 130px;
        bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }

    input
    {
        height: 25px;
        width: 50%;
        border-radius: 5px;
        font: 20px/30px "Open Sans", Arial, sans-serif;
    }
    
    .password
    {
        position:relative;
        left: 130px;
        bottom: 25px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }
    
    #posts
    {
        float:left;
        margin-left: 2%;
        width: 60%;  
        padding-top: 60px;
    }

    .post
    {
        background: #ffffff;
        padding: 5px;
        width: 99%;
        margin-bottom: 10px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .profile
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 100%;
        height: 100px;
        border-radius: 5px;
    }
    
    #divBodyProfilo
    {
        float:left;
        margin-top: 60px;
        background: #ffffff;
        margin-left: 2%;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 555px;
        padding: 10px;
    }
    
    #divBodyDescrizione
    {
        margin-top: 60px;
        background: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 500px;
        padding: 10px; 
    }
    
    #invio
    {
        margin-top: 10px;
        position: relative;
        left: 180px;
        bottom: 20px;   
    }
    
    #aggiorna
    {
        margin-top: 10px;
        position: relative;
        left: 210px;   
    }
}

@media only screen and (min-width: 480px)                    
                   and (max-width: 820px)
{
    body
    {
        background: #f5f5f5;
        font: 20px/30px "Open Sans", Arials, san-serif;
        margin:0;
    }
    
    h1
    {
        color: #000000;
        font: 23px/33px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    h2
    {
        color: #000000;
        font: 23px/33px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    h3
    {
        color: #000000;
        font: 20px/30px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }
    
    a:link
    {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
    }
    
    a:visited
    {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
    }
    
    #title
    {
        position:relative;
        bottom: 8px;
        left: 10px;
        color: #ffffff;
        font: 40px/50px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    nav
    {
        position:relative;
        right:85px;
        height: 50px;
        float:left;
        width:230px;
    }


    nav ol, nav li
    {
        position: relative;
        bottom:25px;
        right:20px;
        list-style-type: none;
        display: inline-block;
    }

    #utente
    {
        float:right;
        padding-right: 15px;
    }

    #login
    {
        position:relative;
        top: 5px;
        display:inline-block;
        padding-right: 10px;   
    }

    #nome
    {
        position:relative;
        bottom: 15px;
        float:right;
        display: inline-block;
    }    
    
    #info
    {
        background: #ffffff;
        margin-left:auto;
        margin-right:auto;
        border-radius: 5px;
        margin-top: 80px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    #info li
    {
        list-style-type: none;
        text-align:center;
    }
    
    #divBodyLogin
    {
        position:relative;
        top: 80px;
        background: #ffffff;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 10px;
    }
    
    .username
    {
        position:relative;
        left: 130px;
        bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }

    input
    {
        height: 25px;
        width: 50%;
        border-radius: 5px;
        font: 20px/30px "Open Sans", Arial, sans-serif;
    }
    
    .password
    {
        position:relative;
        left: 130px;
        bottom: 25px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }
    
    #posts
    {
        margin-left: auto;
        margin-right:auto;
        width: 80%;  
    }

    .post
    {
        background: #ffffff;
        padding: 5px;
        width: 99%;
        margin-bottom: 10px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    .profileContent img
    {
        max-width: 300px;
        max-height: 300px;
    }

    .profile
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 100%;
        height: 100px;
        border-radius: 5px;
    }
    
    #divBodyProfilo
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 450px;
        padding: 10px;
    }
    
    #divBodyDescrizione
    {
        margin-top: 80px;
        background: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 450px;
        padding: 10px; 
    }
    
    #invio
    {
        margin-top: 10px;
        position: relative;
        left: 140px;
        bottom: 20px;   
    }
    
    #aggiorna
    {
        margin-top: 10px;
        position: relative;
        left: 150px;   
    }
}

@media only screen and (max-width: 480px)                    
                  
{
    body
    {
        background: #f5f5f5;
        font: 15px/25px "Open Sans", Arials, san-serif;
        margin:0;
    }
    
    h1
    {
        color: #000000;
        font: 23px/33px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    h2
    {
        color: #000000;
        font: 23px/33px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    h3
    {
        color: #000000;
        font: 20px/30px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }
    
    a:link
    {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
    }
    
    a:visited
    {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
    }
    
    #title
    {
        position:relative;
        bottom: 8px;
        left: 10px;
        color: #ffffff;
        font: 40px/50px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }

    nav
    {
        position:relative;
        right:85px;
        height: 50px;
        float:left;
        width:230px;
    }


    nav ol, nav li
    {
        position: relative;
        bottom:20px;
        right:20px;
        list-style-type: none;
        display: inline-block;
    }

    #utente
    {
        float:right;
        padding-right: 15px;
    }

    #login
    {
        position:relative;
        top: 5px;
        display:inline-block;
        padding-right: 10px;   
    }
    

    #nome
    {
        position:relative;
        bottom: 15px;
        float:right;
        display: inline-block;
    }    
    
    #info
    {
        background: #ffffff;
        margin-left:auto;
        margin-right:auto;
        border-radius: 5px;
        margin-top: 80px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    #info li
    {
        list-style-type: none;
        text-align:center;
    }
    
    #divBodyLogin
    {
        position:relative;
        top: 80px;
        background: #ffffff;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 10px;
    }
    
    .username
    {
        position:relative;
        left: 130px;
        bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }

    input
    {
        height: 25px;
        width: 50%;
        border-radius: 5px;
        font: 20px/30px "Open Sans", Arial, sans-serif;
    }
    
    .password
    {
        position:relative;
        left: 130px;
        bottom: 25px;
        font: 25px/35px "Open Sans", Arial, sans-serif;
    }
    
    #posts
    {
        margin-left: auto;
        margin-right:auto;
        width: 80%;  
    }

    .post
    {
        background: #ffffff;
        padding: 5px;
        width: 99%;
        margin-bottom: 10px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    .profileContent img
    {
        max-width: 300px;
        max-height: 300px;
    }

    .profile
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 100%;
        height: 100px;
        border-radius: 5px;
    }
    
    #divBodyProfilo
    {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 400px;
        padding: 10px;
    }
    
    #divBodyDescrizione
    {
        margin-top: 80px;
        background: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 400px;
        padding: 10px; 
    }
    
    #invio
    {
        margin-top: 10px;
        position: relative;
        left: 140px;
        bottom: 20px;   
    }
    
    #aggiorna
    {
        margin-top: 10px;
        position: relative;
        left: 150px;   
    }
}